<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>commUnity - Home</title>
    <link rel="Shortcut Icon" href="static/img/community-icon.png" type="image/x-icon">

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="static/css/grayscale.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {{ community_map.js }}

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">comm</span>Unity
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#page-top">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#overview">Overview</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#projects">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Download</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Team</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="intro-text" style="margin-top: 12%;"></p>
                        <a href="#overview" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Overview Section -->
    <section id="overview" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-12">
                <h2>App Overview</h2>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <img style="max-height:375px;" src="/static/img/screen1.png" />
                    </li>
                    <li>
                        <img style="max-height:375px;" src="/static/img/screen2.png" />
                    </li>
                    <li>
                        <img style="max-height:375px;" src="/static/img/screen3.png" />
                    </li>
                    <li>
                        <img style="max-height:375px;" src="/static/img/screen4.png" />
                    </li>
                    <li>
                        <img style="max-height:375px;" src="/static/img/screen5.png" />
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Project Map</h2>
            </div>
        </div>
    </section>
    {{ community_map.html }}
    <div style="text-align:center;">
        <a href="{{ url_for('.projects') }}" class="btn btn-default btn-lg" style="text-align:center;margin-top:2%;">View Project List</a>
    </div>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2><span class="light">About Comm</span>Unity</h2>
                <p>commUnity is an Android based platform developed by a team of NYU students for HackNYU.</p>
                <p>The team hopes to promote social engagement by facilitating community centered projects.</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2><span class="light">Download Comm</span>Unity</h2>
                    <p>Join commUnity for free by downloading on the Google Play Store!</p>
                    <a class="btn btn-default btn-lg">Coming Soon</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-12">
                <h2>Meet The Team!</h2>
                <p>Feel free to email us at <a>team@community.com</a> to provide feedback!</p>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <img style="border-radius: 50%;max-width: 150px;" src="/static/img/will.png" />
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/sahirkarani/"><img style="border-radius: 50%;max-width: 150px;" src="/static/img/sahir.png" /></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/brandon-tang/"><img style="border-radius: 50%;max-width: 150px;" src="/static/img/brandon.png" /></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/yatin-kaushal-9b4246b4/"><img style="border-radius: 50%;max-width: 150px;" src="/static/img/yatin.png" /></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/pallak-anand-030384101/"><img style="border-radius: 50%;max-width: 150px;" src="/static/img/pallak.png" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; commUnity</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="static/vendor/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7PFRZw7yC2TcwR0Rm8k8V0l-MSZt4aRk&sensor=false"></script>-->

    <!-- Theme JavaScript -->
    <script src="static/js/grayscale.min.js"></script>

</body>

</html>
